![imagen](../../imagenes/ejercicios.png)

# Ejercicio SQL con Pandas

Vamos a repetir el mismo ejercicio que vimos para SQL pero con Pandas, para que veamos la potencia que tiene lo que estamos haciendo.

Para este ejercicio usaremos una base de datos del FIFA 20. **Asegúrante que tienes el CSV "FIFA20.csv" en la misma carpeta donde está este Notebook**. Realiza los siguientes apartados:

1. Obtén una tabla con todos los campos
2. Obtén una tabla con los campos "short_name", "club", "team_position"
3. Obtén la misma tabla que el apartado anterior, pero en este caso renombrando los campos al castellano.
4. ¿Cuáles son todos los "team_position" diferentes?
5. ¿Cuáles son todos los "team_position" y "preferred_foot" diferentes?
6. ¿Cuáles son los jugadores diestros? ("preferred_foot" = "Right")
7. Obtén una tabla con los jugadores influencers
8. Obtén una tabla con los extremos izquierda ('team_position' = 'LW') influencers
9. Obtén una tabla con los jugadores cuyo nombre empieze por "W" y tenga una puntuación ('overall') mayor de 80 puntos.
  1. ¿Y si ponemos el límite de la puntuación en mayor de 90 puntos?
10. Saca una tabla con los jugadores del Real Madrid, que NO sean diestros y tengan un potencial superior a 85
11. ¿Cuál es el jugador con la puntuación ('overall') más alta?
12. ¿Cuál es la media del valor (value_eur) de todos los jugadores, en millones de euros, sabiendo que las unidades del valor de la tabla son euros?
13. ¿Cuál es la media del salario por equipo?
14. Calcula la máxima puntuación ('overall') por "'preferred_foot'

**NOTA**: se recomienda añadir un `LIMIT 5` en la mayoría de apartados para evitar grandes outputs de las queries.

In [2]:
# Importamos paquetes
import pandas as pd
import numpy as np

# Leemos datos de un CSV
df = pd.read_csv('FIFA20.csv')
df.head()

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,FC Barcelona,94,94,95500000,565000,RW,Left,True
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,Juventus,93,93,58500000,405000,LW,Right,True
2,Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,Paris Saint-Germain,92,92,105500000,290000,CAM,Right,True
3,J. Oblak,Jan Oblak,1993-01-07,Atlético Madrid,91,93,77500000,125000,GK,Right,False
4,E. Hazard,Eden Hazard,1991-01-07,Real Madrid,91,91,90000000,470000,LW,Right,True

In [3]:
# 1. Obten una tabla con todos los campos
df

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,FC Barcelona,94,94,95500000,565000,RW,Left,True
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,Juventus,93,93,58500000,405000,LW,Right,True
2,Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,Paris Saint-Germain,92,92,105500000,290000,CAM,Right,True
3,J. Oblak,Jan Oblak,1993-01-07,Atlético Madrid,91,93,77500000,125000,GK,Right,False
4,E. Hazard,Eden Hazard,1991-01-07,Real Madrid,91,91,90000000,470000,LW,Right,True
...,...,...,...,...,...,...,...,...,...,...,...
18273,Shao Shuai,邵帅,1997-03-10,Beijing Renhe FC,48,56,40000,2000,RES,Right,False
18274,Xiao Mingjie,Mingjie Xiao,1997-01-01,Shanghai SIPG FC,48,56,40000,2000,SUB,Right,False
18275,Zhang Wei,张威,2000-05-16,Hebei China Fortune FC,48,56,40000,1000,SUB,Right,False
18276,Wang Haijian,汪海健,2000-08-02,Shanghai Greenland Shenhua FC,48,54,40000,1000,SUB,Right,False
18277,Pan Ximing,潘喜明,1993-01-11,Hebei China Fortune FC,48,51,40000,2000,SUB,Right,False

In [4]:
# 2. Obtén una tabla con los campos "short_name", "club", "team_position"
df[['short_name', 'club', 'team_position']]

              short_name                           club team_position
0               L. Messi                   FC Barcelona            RW
1      Cristiano Ronaldo                       Juventus            LW
2              Neymar Jr            Paris Saint-Germain           CAM
3               J. Oblak                Atlético Madrid            GK
4              E. Hazard                    Real Madrid            LW
...                  ...                            ...           ...
18273         Shao Shuai               Beijing Renhe FC           RES
18274       Xiao Mingjie               Shanghai SIPG FC           SUB
18275          Zhang Wei         Hebei China Fortune FC           SUB
18276       Wang Haijian  Shanghai Greenland Shenhua FC           SUB
18277         Pan Ximing         Hebei China Fortune FC           SUB

[18278 rows x 3 columns]

In [5]:
# 3. Obtén la misma tabla que el apartado anterior, pero en este caso renombrando los campos al castellano.
df[['short_name', 'club', 'team_position']].rename({'short_name': 'nombre_corto', 'club': 'equipo', 'team_position': 'posicion_equipo'}, axis=1)

            nombre_corto                         equipo posicion_equipo
0               L. Messi                   FC Barcelona              RW
1      Cristiano Ronaldo                       Juventus              LW
2              Neymar Jr            Paris Saint-Germain             CAM
3               J. Oblak                Atlético Madrid              GK
4              E. Hazard                    Real Madrid              LW
...                  ...                            ...             ...
18273         Shao Shuai               Beijing Renhe FC             RES
18274       Xiao Mingjie               Shanghai SIPG FC             SUB
18275          Zhang Wei         Hebei China Fortune FC             SUB
18276       Wang Haijian  Shanghai Greenland Shenhua FC             SUB
18277         Pan Ximing         Hebei China Fortune FC             SUB

[18278 rows x 3 columns]

In [6]:
# 4. ¿Cuáles son todos los "team_position" diferentes? PAra este deberás
df['team_position'].drop_duplicates()

0       RW
1       LW
2      CAM
3       GK
5      RCM
7      LCB
12      ST
21     CDM
24     LDM
27      RM
29     RCB
33     LCM
38      LM
46      CF
48     SUB
51      LB
54      LS
61      RB
78     RDM
93     RES
95     RAM
104     RS
109     RF
123     CM
126     CB
259     LF
306    LAM
327    NaN
476    RWB
483    LWB
Name: team_position, dtype: object

In [7]:
# 5. ¿Cuáles son todos los "team_position" y "preferred_foot" diferentes?
df[['team_position', 'preferred_foot']].drop_duplicates()

     team_position preferred_foot
0               RW           Left
1               LW          Right
2              CAM          Right
3               GK          Right
5              RCM          Right
7              LCB          Right
10              RW          Right
12              ST          Right
16             LCB           Left
21             CDM          Right
22              LW           Left
24             LDM          Right
25              GK           Left
27              RM          Right
29             RCB          Right
33             LCM           Left
36             LCM          Right
38              LM          Right
46              CF          Right
48             SUB          Right
51              LB           Left
54              LS          Right
55             SUB           Left
61              RB          Right
78             RDM          Right
89              LS           Left
93             RES          Right
95             RAM           Left
104             RS           Left
109             RF           Left
121             RM           Left
123             CM          Right
126             CB          Right
135            CAM           Left
149            RCM           Left
152             ST           Left
176             LM           Left
201            RES           Left
222            LDM           Left
230             RS          Right
231             CB           Left
259             LF           Left
306            LAM          Right
327            NaN          Right
340            LAM           Left
374             CM           Left
394            CDM           Left
408            NaN           Left
476            RWB          Right
483            LWB           Left
557            RDM           Left
618            LWB          Right
745            RCB           Left
832            RAM          Right
1011            LF          Right
1060            RF          Right
1238            LB          Right
1410            CF           Left
7406            RB           Left
9046           RWB           Left

In [8]:
# 6. ¿Cuáles son los jugadores diestros? ("preferred_foot" = "Right")
df[df["preferred_foot"] == "Right"]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,Juventus,93,93,58500000,405000,LW,Right,True
2,Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,Paris Saint-Germain,92,92,105500000,290000,CAM,Right,True
3,J. Oblak,Jan Oblak,1993-01-07,Atlético Madrid,91,93,77500000,125000,GK,Right,False
4,E. Hazard,Eden Hazard,1991-01-07,Real Madrid,91,91,90000000,470000,LW,Right,True
5,K. De Bruyne,Kevin De Bruyne,1991-06-28,Manchester City,91,91,90000000,370000,RCM,Right,True
...,...,...,...,...,...,...,...,...,...,...,...
18273,Shao Shuai,邵帅,1997-03-10,Beijing Renhe FC,48,56,40000,2000,RES,Right,False
18274,Xiao Mingjie,Mingjie Xiao,1997-01-01,Shanghai SIPG FC,48,56,40000,2000,SUB,Right,False
18275,Zhang Wei,张威,2000-05-16,Hebei China Fortune FC,48,56,40000,1000,SUB,Right,False
18276,Wang Haijian,汪海健,2000-08-02,Shanghai Greenland Shenhua FC,48,54,40000,1000,SUB,Right,False
18277,Pan Ximing,潘喜明,1993-01-11,Hebei China Fortune FC,48,51,40000,2000,SUB,Right,False

In [9]:
# 7. Obtén una tabla con los jugadores influencers
df[df['influencer'] == True]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,FC Barcelona,94,94,95500000,565000,RW,Left,True
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,Juventus,93,93,58500000,405000,LW,Right,True
2,Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,Paris Saint-Germain,92,92,105500000,290000,CAM,Right,True
4,E. Hazard,Eden Hazard,1991-01-07,Real Madrid,91,91,90000000,470000,LW,Right,True
5,K. De Bruyne,Kevin De Bruyne,1991-06-28,Manchester City,91,91,90000000,370000,RCM,Right,True
8,L. Modrić,Luka Modrić,1985-09-09,Real Madrid,90,90,45000000,340000,RCM,Right,True
14,De Gea,David De Gea Quintana,1990-11-07,Manchester United,89,90,56000000,205000,GK,Right,True
16,G. Chiellini,Giorgio Chiellini,1984-08-14,Juventus,89,89,24500000,215000,LCB,Left,True
17,S. Agüero,Sergio Leonel Agüero del Castillo,1988-06-02,Manchester City,89,89,60000000,300000,ST,Right,True
18,Sergio Ramos,Sergio Ramos García,1986-03-30,Real Madrid,89,89,31500000,300000,LCB,Right,True
19,L. Suárez,Luis Alberto Suárez Díaz,1987-01-24,FC Barcelona,89,89,53000000,355000,ST,Right,True
20,R. Lewandowski,Robert Lewandowski,1988-08-21,FC Bayern München,89,89,64500000,235000,ST,Right,True
21,Sergio Busquets,Sergio Busquets i Burgos,1988-07-16,FC Barcelona,89,89,55000000,300000,CDM,Right,True
22,A. Griezmann,Antoine Griezmann,1991-03-21,FC Barcelona,89,89,69000000,370000,LW,Left,True
24,P. Pogba,Paul Pogba,1993-03-15,Manchester United,88,91,72500000,250000,LDM,Right,True
28,T. Courtois,Thibaut Courtois,1992-05-11,Real Madrid,88,89,48000000,235000,GK,Left,True
29,Piqué,Gerard Piqué Bernabéu,1987-02-02,FC Barcelona,88,88,38000000,285000,RCB,Right,True
31,M. Neuer,Manuel Neuer,1986-03-27,FC Bayern München,88,88,32000000,155000,GK,Right,True
32,H. Lloris,Hugo Lloris,1986-12-26,Tottenham Hotspur,88,88,36000000,150000,GK,Left,True
33,David Silva,David Josué Jiménez Silva,1986-01-08,Manchester City,88,88,36000000,265000,LCM,Left,True
34,E. Cavani,Edinson Roberto Cavani Gómez,1987-02-14,Paris Saint-Germain,88,88,47000000,195000,ST,Right,True
36,T. Kroos,Toni Kroos,1990-01-04,Real Madrid,88,88,57000000,330000,LCM,Right,True
37,M. Reus,Marco Reus,1989-05-31,Borussia Dortmund,88,88,56000000,170000,CAM,Right,True
45,Thiago Silva,Thiago Emiliano da Silva,1984-09-22,Paris Saint-Germain,87,87,18500000,135000,LCB,Right,True
46,K. Benzema,Karim Benzema,1987-12-19,Real Madrid,87,87,45000000,285000,CF,Right,True
49,M. Hummels,Mats Hummels,1988-12-16,Borussia Dortmund,87,87,41000000,130000,LCB,Right,True
64,I. Rakitić,Ivan Rakitić,1988-03-10,FC Barcelona,86,86,38000000,245000,RCM,Right,True
66,A. Di María,Ángel Fabián Di María Hernández,1988-02-14,Paris Saint-Germain,86,86,39000000,150000,LW,Left,True
70,T. Müller,Thomas Müller,1989-09-13,FC Bayern München,86,86,43500000,170000,SUB,Right,True
92,D. Alaba,David Olatukunbo Alaba,1992-06-24,FC Bayern München,85,86,38000000,135000,LB,Left,True
96,Z. Ibrahimović,Zlatan Ibrahimović,1981-10-03,LA Galaxy,85,85,14000000,15000,ST,Right,True
98,G. Higuaín,Gonzalo Gerardo Higuaín,1987-12-10,Juventus,85,85,34500000,175000,SUB,Right,True
100,G. Bale,Gareth Frank Bale,1989-07-16,Real Madrid,85,85,37500000,250000,SUB,Left,True
101,Marcelo,Marcelo Vieira da Silva Júnior,1988-05-12,Real Madrid,85,85,28000000,205000,LB,Left,True
106,J. Rodríguez,James David Rodríguez Rubio,1991-07-12,Real Madrid,85,85,40500000,225000,SUB,Left,True
128,Pepe,Képler Laveran Lima Ferreira,1983-02-26,FC Porto,84,84,6500000,16000,RCB,Right,True
135,M. Özil,Mesut Özil,1988-10-15,Arsenal,84,84,29500000,125000,CAM,Left,True
142,A. Vidal,Arturo Vidal,1987-05-22,FC Barcelona,84,84,23500000,205000,SUB,Right,True
143,J. Boateng,Jérôme Boateng,1988-09-03,FC Bayern München,84,84,25000000,125000,SUB,Right,True
200,G. Buffon,Gianluigi Buffon,1978-01-28,Juventus,83,83,2600000,58000,SUB,Right,True
201,Casillas,Iker Casillas Fernández,1981-05-20,FC Porto,83,83,2600000,11000,RES,Left,True
203,V. Kompany,Vincent Kompany,1986-04-10,RSC Anderlecht,83,83,12000000,31000,LCB,Right,True
214,Diego Costa,Diego da Silva Costa,1988-10-07,Atlético Madrid,83,83,25000000,80000,SUB,Right,True
216,David Luiz,David Luiz Moreira Marinho,1987-04-22,Arsenal,83,83,16500000,105000,LCB,Right,True
270,M. Götze,Mario Götze,1992-06-03,Borussia Dortmund,82,83,26000000,98000,SUB,Right,True
301,A. Sánchez,Alexis Alejandro Sánchez Sánchez,1988-12-19,Manchester United,82,82,21000000,150000,SUB,Right,True
304,M. Balotelli,Mario Barwuah Balotelli,1990-08-12,Brescia,82,82,23000000,27000,RS,Right,True
375,Cesc Fàbregas,Francesc Fàbregas i Soler,1987-05-04,AS Monaco,81,81,13500000,50000,LCM,Right,True
488,W. Rooney,Wayne Mark Rooney,1985-10-24,DC United,80,80,9500000,13000,ST,Right,True
491,J. Mascherano,Javier Alejandro Mascherano,1984-06-08,Hebei China Fortune FC,80,80,4700000,13000,CDM,Right,True
532,Hulk,Givanildo Vieira de Souza,1986-07-25,Shanghai SIPG FC,80,80,11500000,23000,RW,Left,True
1424,B. Schweinsteiger,Bastian Schweinsteiger,1984-08-01,Chicago Fire,76,76,2900000,8000,RCB,Right,True

In [10]:
# 8. Obtén una tabla con los extremos izquierda ('team_position' = 'LW') influencers
df[(df["team_position"] == "LW") & (df["influencer"] == True)]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,Juventus,93,93,58500000,405000,LW,Right,True
4,E. Hazard,Eden Hazard,1991-01-07,Real Madrid,91,91,90000000,470000,LW,Right,True
22,A. Griezmann,Antoine Griezmann,1991-03-21,FC Barcelona,89,89,69000000,370000,LW,Left,True
66,A. Di María,Ángel Fabián Di María Hernández,1988-02-14,Paris Saint-Germain,86,86,39000000,150000,LW,Left,True

In [11]:
# 9. Obtén una tabla con los jugadores cuyo nombre empieze por "W" y tenga una puntuación ('overall') mayor de 80 puntos
df[(df['long_name'].apply(lambda x: x[0] == "W")) & (df['overall'] > 80)]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
60,W. Szczęsny,Wojciech Szczęsny,1990-04-18,Juventus,86,88,37500000,135000,GK,Right,False
185,W. Zaha,Wilfried Zaha,1992-11-10,Crystal Palace,83,85,32000000,89000,LS,Right,False
189,William Carvalho,William Silva de Carvalho,1992-04-07,Real Betis,83,85,27500000,35000,CDM,Right,False
230,W. Ben Yedder,Wissam Ben Yedder,1990-08-12,AS Monaco,83,83,27000000,67000,RS,Right,False
273,Willian José,Willian José da Silva,1991-11-23,Real Sociedad,82,83,26000000,44000,ST,Right,False
298,Willian,Willian Borges da Silva,1988-08-09,Chelsea,82,82,21000000,140000,SUB,Right,False
352,W. Orban,Willi Orban,1992-11-03,RB Leipzig,81,83,19000000,57000,LCB,Right,False
368,W. Weghorst,Wout Weghorst,1992-08-07,VfL Wolfsburg,81,82,21000000,62000,ST,Right,False

In [12]:
# 9. ¿Y si en lugar de 80, buscamos que la puntuación sea mayor de 90?
df[(df['long_name'].apply(lambda x: x[0] == "W")) & (df['overall'] > 90)]

Empty DataFrame
Columns: [short_name, long_name, dob, club, overall, potential, value_eur, wage_eur, team_position, preferred_foot, influencer]
Index: []

Correcto. Ninguno lo cumple

In [13]:
# 10. Saca una tabla con los jugadores del Real Madrid, que NO sean diestros y tengan un potencial superior a 85
df[(df['club'] == "Real Madrid") & (df['preferred_foot'] != "Right") & (df['potential'] > 85)]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
28,T. Courtois,Thibaut Courtois,1992-05-11,Real Madrid,88,89,48000000,235000,GK,Left,True
178,Marco Asensio,Marco Asensio Willemsen,1996-01-21,Real Madrid,83,87,34000000,180000,SUB,Left,False
424,F. Mendy,Ferland Mendy,1995-06-08,Real Madrid,80,86,18000000,115000,SUB,Left,False
2652,Brahim,Brahim Díaz,1999-08-03,Real Madrid,73,86,7500000,58000,RES,Left,False
4757,T. Kubo,久保 建英,2001-06-04,Real Madrid,70,87,3700000,21000,RES,Left,False

In [14]:
# 11. ¿Cuál es el jugador con la puntuación ('overall') más alta?
df.sort_values(by='overall', ascending = False).iloc[:1]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,FC Barcelona,94,94,95500000,565000,RW,Left,True

In [23]:
df[df['overall'] == df['overall'].max()]

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer,aux,mask
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,FC Barcelona,94,94,95500000,565000,RW,Left,True,True,True

In [15]:
# 12. ¿Cuál es la media del valor (value_eur) de todos los jugadores, en millones de euros, sabiendo que las unidades del valor de la tabla son euros?
df['value_eur'].mean()

2484037.640879746

In [16]:
# 13. ¿Cuál es la media del salario por equipo? Ordena el resultado de mayor a menor salario
df.groupby("club").agg({'wage_eur': np.mean}).sort_values('wage_eur', ascending=False)

                        wage_eur
club
Real Madrid        162242.424242
FC Barcelona       150000.000000
Manchester City    120727.272727
Juventus           113636.363636
FC Bayern München  109391.304348
...                          ...
Iceland                 0.000000
India                   0.000000
Bolivia                 0.000000
Wales                   0.000000
Sweden                  0.000000

[698 rows x 1 columns]

In [38]:
# 14. Calcula la máxima puntuación ('overall') por club. Ordena el resultado de menor a mayor puntuación
df.groupby("club").agg({'overall': np.max}).sort_values('overall', ascending = False)
# df.groupby("club").agg({'overall': [np.max, np.min]}).sort_values(('overall', 'amax'), ascending = False)

                     overall
club
FC Barcelona              94
Juventus                  93
Paris Saint-Germain       92
Manchester City           91
Real Madrid               91
...                      ...
Sligo Rovers              62
Finn Harps                60
Seongnam FC               60
UCD AFC                   58
Śląsk Wrocław             57

[698 rows x 1 columns]