# Ejercicio 1

Vamos a hacer un ejercicio con datos de verdad

### 1. Vamos a utilizar el fichero"openfoodfacts_products.csv"

Para no andar descargando ficheros muy grandes, lo que tenemos es una muestra del fichero de 3GB descargable desde https://static.openfoodfacts.org/data/en.openfoodfacts.org.products.csv

Si quieres, y tienes memoria suficiente en tu PC, podrías intentar el ejemplo con el dataset completo, pero las operaciones serán mucho más lento.

###  2. Importa las librerías de Pandas y Numpy

In [1]:
import pandas as pd
import numpy as np

### 3. Asegúrate de que el fichero esté en la misma carpeta (semana6/dia_2) y léelo con la sentencia que tienes ahí

In [3]:
food = pd.read_csv("en.openfoodfacts.org.products.csv", sep='\t')

### 4. Muestra las 5 primeras filas

In [4]:
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,carbon-footprint-from-meat-or-fish_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g
0,6281018143949,http://world-en.openfoodfacts.org/product/6281...,waistline-app,1546876412,2019-01-07T15:53:32Z,1546876412,2019-01-07T15:53:32Z,Greek yoghurt drink plain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4260283740246,http://world-en.openfoodfacts.org/product/4260...,knolske,1563388810,2019-07-17T18:40:10Z,1600430320,2020-09-18T11:58:40Z,Fettarme Milch,Fettarme Milch,1 l,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7791004000082,http://world-en.openfoodfacts.org/product/7791...,kiliweb,1572963121,2019-11-05T14:12:01Z,1587422058,2020-04-20T22:34:18Z,Sal Gruesa,NaN,1 kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0729440149765,http://world-en.openfoodfacts.org/product/0729...,usda-ndb-import,1489079684,2017-03-09T17:14:44Z,1587590932,2020-04-22T21:28:52Z,"Delissa, Whole Ring Cake",NaN,NaN,...,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3162050006153,http://world-en.openfoodfacts.org/product/3162...,date-limite-app,1430308735,2015-04-29T11:58:55Z,1572639385,2019-11-01T20:16:25Z,Gousse de vanille bourbon,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 5. ¿Cuántas observaciones tiene el dataset?

In [10]:
len(food.index)
food.shape[0]

3000

### 6. ¿Y el número de columnas?

In [9]:
len(food.columns)
food.shape[1]

182

### 7. Muestra el nombre de TODAS las columnas

In [12]:
list(food.columns)

['code',
 'url',
 'creator',
 'created_t',
 'created_datetime',
 'last_modified_t',
 'last_modified_datetime',
 'product_name',
 'generic_name',
 'quantity',
 'packaging',
 'packaging_tags',
 'packaging_text',
 'brands',
 'brands_tags',
 'categories',
 'categories_tags',
 'categories_en',
 'origins',
 'origins_tags',
 'manufacturing_places',
 'manufacturing_places_tags',
 'labels',
 'labels_tags',
 'labels_en',
 'emb_codes',
 'emb_codes_tags',
 'first_packaging_code_geo',
 'cities',
 'cities_tags',
 'purchase_places',
 'stores',
 'countries',
 'countries_tags',
 'countries_en',
 'ingredients_text',
 'allergens',
 'allergens_en',
 'traces',
 'traces_tags',
 'traces_en',
 'serving_size',
 'serving_quantity',
 'no_nutriments',
 'additives_n',
 'additives',
 'additives_tags',
 'additives_en',
 'ingredients_from_palm_oil_n',
 'ingredients_from_palm_oil',
 'ingredients_from_palm_oil_tags',
 'ingredients_that_may_be_from_palm_oil_n',
 'ingredients_that_may_be_from_palm_oil',
 'ingredients_that_may_be_from_palm_oil_tags',
 'nutriscore_score',
 'nutriscore_grade',
 'nova_group',
 'pnns_groups_1',
 'pnns_groups_2',
 'states',
 'states_tags',
 'states_en',
 'brand_owner',
 'main_category',
 'main_category_en',
 'image_url',
 'image_small_url',
 'image_ingredients_url',
 'image_ingredients_small_url',
 'image_nutrition_url',
 'image_nutrition_small_url',
 'energy-kj_100g',
 'energy-kcal_100g',
 'energy_100g',
 'energy-from-fat_100g',
 'fat_100g',
 'saturated-fat_100g',
 '-butyric-acid_100g',
 '-caproic-acid_100g',
 '-caprylic-acid_100g',
 '-capric-acid_100g',
 '-lauric-acid_100g',
 '-myristic-acid_100g',
 '-palmitic-acid_100g',
 '-stearic-acid_100g',
 '-arachidic-acid_100g',
 '-behenic-acid_100g',
 '-lignoceric-acid_100g',
 '-cerotic-acid_100g',
 '-montanic-acid_100g',
 '-melissic-acid_100g',
 'monounsaturated-fat_100g',
 'polyunsaturated-fat_100g',
 'omega-3-fat_100g',
 '-alpha-linolenic-acid_100g',
 '-eicosapentaenoic-acid_100g',
 '-docosahexaenoic-acid_100g',
 'omega-6-fat_100g',
 '-linoleic-acid_100g',
 '-arachidonic-acid_100g',
 '-gamma-linolenic-acid_100g',
 '-dihomo-gamma-linolenic-acid_100g',
 'omega-9-fat_100g',
 '-oleic-acid_100g',
 '-elaidic-acid_100g',
 '-gondoic-acid_100g',
 '-mead-acid_100g',
 '-erucic-acid_100g',
 '-nervonic-acid_100g',
 'trans-fat_100g',
 'cholesterol_100g',
 'carbohydrates_100g',
 'sugars_100g',
 '-sucrose_100g',
 '-glucose_100g',
 '-fructose_100g',
 '-lactose_100g',
 '-maltose_100g',
 '-maltodextrins_100g',
 'starch_100g',
 'polyols_100g',
 'fiber_100g',
 '-soluble-fiber_100g',
 '-insoluble-fiber_100g',
 'proteins_100g',
 'casein_100g',
 'serum-proteins_100g',
 'nucleotides_100g',
 'salt_100g',
 'sodium_100g',
 'alcohol_100g',
 'vitamin-a_100g',
 'beta-carotene_100g',
 'vitamin-d_100g',
 'vitamin-e_100g',
 'vitamin-k_100g',
 'vitamin-c_100g',
 'vitamin-b1_100g',
 'vitamin-b2_100g',
 'vitamin-pp_100g',
 'vitamin-b6_100g',
 'vitamin-b9_100g',
 'folates_100g',
 'vitamin-b12_100g',
 'biotin_100g',
 'pantothenic-acid_100g',
 'silica_100g',
 'bicarbonate_100g',
 'potassium_100g',
 'chloride_100g',
 'calcium_100g',
 'phosphorus_100g',
 'iron_100g',
 'magnesium_100g',
 'zinc_100g',
 'copper_100g',
 'manganese_100g',
 'fluoride_100g',
 'selenium_100g',
 'chromium_100g',
 'molybdenum_100g',
 'iodine_100g',
 'caffeine_100g',
 'taurine_100g',
 'ph_100g',
 'fruits-vegetables-nuts_100g',
 'fruits-vegetables-nuts-dried_100g',
 'fruits-vegetables-nuts-estimate_100g',
 'collagen-meat-protein-ratio_100g',
 'cocoa_100g',
 'chlorophyl_100g',
 'carbon-footprint_100g',
 'carbon-footprint-from-meat-or-fish_100g',
 'nutrition-score-fr_100g',
 'nutrition-score-uk_100g',
 'glycemic-index_100g',
 'water-hardness_100g',
 'choline_100g',
 'phylloquinone_100g',
 'beta-glucan_100g',
 'inositol_100g',
 'carnitine_100g']

### 8. ¿Cuál es el nombre de la columna 105ª?

In [13]:
food.columns[105]

'-gondoic-acid_100g'

### 9. ¿Cuál es el tipo de esa columna?

In [17]:
food[food.columns[105]].dtype
food['-gondoic-acid_100g'].dtype

dtype('float64')

### 10. ¿Cómo está indexado el dataset?

In [20]:
food.index

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

### 11. ¿Cuál es el nombre de producto de la 19ª observación?

In [23]:
food.loc[19, 'product_name']
food.loc[19]['product_name']

'Edam'

# Ejercicio 2

### 1. Comenzamos importando las librerías que vamos a utilizar

In [245]:
import pandas as pd
import numpy as np

### 2. Leemos el fichero directamente de la siguiente [url](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

Será de tipo .tsv. No te preocupes, es otro tipo de fichero más, que en unos días veremos junto a otros para trabajar con la lectura y escritura de datos.

Además, al hacerlo directamente, no se nos descargará un fichero sino que se leerá en un DataFrame, por lo que no tendremos que andar moviendo ficheros

In [284]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### 3. Muestra las 100 primeras filas

In [285]:
chipo.head(100)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
95,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
96,42,1,Chips and Guacamole,NaN,$4.45
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75

### 4. Traduce las columnas al castellano (el id lo puedes dejar así)

In [286]:
chipo.columns = ("id_orden", "cantidad", "nombre", "descripcion", "precio_objeto")
chipo

,id_orden,cantidad,nombre,descripcion,precio_objeto
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 5. ¿Cuál es el número de observaciones del dataset? Obtenlo de 2 formas diferentes

In [287]:
chipo.shape[0]
len(chipo.index)

4622

### 6. ¿Cuál es el número de columnas del dataset? Obtenlo de 2 formas diferentes

In [288]:
chipo.shape[1]
len(chipo.columns)

5

### 7. Imprime todas las columnas que tengan un ``_`` en su nombre

In [289]:
n = 0

for i in chipo.columns:
    if '_' in i:
        n += 1
        print(n, ':', i)

1 : id_orden
2 : precio_objeto

In [290]:
chipo[[col for col in chipo.columns if '_' in col]]

      id_orden precio_objeto
0            1        $2.39
1            1        $3.39
2            1        $3.39
3            1        $2.39
4            2       $16.98
...        ...           ...
4617      1833       $11.75
4618      1833       $11.75
4619      1834       $11.25
4620      1834        $8.75
4621      1834        $8.75

[4622 rows x 2 columns]

In [291]:
mask = []
for i in chipo.columns:
    if '_' in i:
        mask.append(True)
    else:
        mask.append(False)
        
print(mask)
print(chipo.columns[mask])

[True, False, False, False, True]
Index(['id_orden', 'precio_objeto'], dtype='object')

### 8. ¿Cómo está indexado?

In [292]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 9. Muestra el dataset filtrado para quedarnos con los registros cuya cantidad sea mayor que 1

In [293]:
chipo[chipo['cantidad']>1]

,id_orden,cantidad,nombre,descripcion,precio_objeto
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
18,9,2,Canned Soda,[Sprite],$2.18
51,23,2,Canned Soda,[Mountain Dew],$2.18
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",$17.98
...,...,...,...,...,...
4491,1786,4,Canned Soft Drink,[Sprite],$5.00
4499,1789,2,Canned Soft Drink,[Coke],$2.50
4560,1812,2,Canned Soft Drink,[Coke],$2.50
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50
4582,1822,2,Bottled Water,NaN,$3.00

### 10. ¿Qué tipo de datos tiene la columna que hace referencia al precio del objeto?

In [294]:
chipo['precio_objeto']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: precio_objeto, Length: 4622, dtype: object

### 11. Sobreescribe la columna de precio para que tenga un tipo numérico

Para hacerlo, iteraremos por cada uno de los registros de la columna modificando cada registro para que nos quedemos con lo que nos interese.

Otra opción, más segura, sería crearnos una copia de la columna en una variable, que será de tipo Series. Haremos las modificaciones sobre el Series. Y, una vez lo tengamos, sobreescribimos la columna inicial con el series modificado

In [ ]:
chipo_precio

In [295]:
chipo_precio = chipo['precio_objeto'].copy()

In [296]:
for i in range(len(chipo_precio)):
    chipo_precio[i] = chipo_precio[i].replace('$', '')

In [297]:
chipo['precio_objeto'] = chipo_precio.astype('float')

In [298]:
chipo['precio_objeto'].dtype

dtype('float64')

### 11. Crea una nueva columna 'precio_total' que sea el producto de las columnas que hacen referencia a la cantidad y al precio por objeto

Asegúrate de que la columna resultado muestra lo que realmente se pide

In [261]:
chipo['precio_total'] = chipo['cantidad']*chipo['precio_objeto']

In [262]:
chipo['cantidad'].mul(chipo['precio_objeto'], fill_value=0)

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: object

### 12. Muestra el dataset filtrado para quedarnos con los registros cuya precio total esté entre 10 y 12 dólares (límites incluidos)

In [ ]:
chipo.loc[(chipo['precio_total'] >= 10) & (chipo['precio_total'] <= 12)]

### 13. ¿Cuál es la media de las columnas del DataFrame?

In [197]:
chipo.mean()

id_orden         927.254868
cantidad           1.075725
precio_objeto      7.464336
precio_total       8.489186
dtype: float64

### 14. ¿Cuál es el nombre del objeto más caro?

Probablemente tengas que hacerlo en varios pasos

In [202]:
maximo = max(chipo['precio_objeto'])
chipo.loc[chipo['precio_objeto'] == maximo]['nombre']

3598    Chips and Fresh Tomato Salsa
Name: nombre, dtype: object

### 15. Réstale, a cada una de las columnas numéricas, el valor que tiene la primera fila

Puedes hacerlo de varias formas, como utilizando un DataFrame auxiliar, ¿se te ocurre cómo podemos hacer para que obtengamos un DataFrame que mantenga los datos de las no numéricas?

In [311]:
num_cols = []

for i in range(len(chipo.columns)):
    if chipo[chipo.columns[i]].dtype != object:
        print(f'{chipo.columns[i]} es numérico')
        num_cols.append(chipo.columns[i])

id_orden es numérico
cantidad es numérico
precio_objeto es numérico

In [312]:
chipo4 = chipo.copy()[num_cols]
chipo4 = chipo4 - chipo4.iloc[0]

for col in chipo.columns:
    if col in num_cols:
        chipo[col] = chipo4[col]
        
chipo

,id_orden,cantidad,nombre,descripcion,precio_objeto
0,0.0,0.0,Chips and Fresh Tomato Salsa,NaN,0.00
1,0.0,0.0,Izze,[Clementine],1.00
2,0.0,0.0,Nantucket Nectar,[Apple],1.00
3,0.0,0.0,Chips and Tomatillo-Green Chili Salsa,NaN,0.00
4,1.0,1.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",14.59
...,...,...,...,...,...
4617,1832.0,0.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",9.36
4618,1832.0,0.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",9.36
4619,1833.0,0.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.86
4620,1833.0,0.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",6.36
4621,1833.0,0.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",6.36

In [309]:
# chipo4 = chipo.copy()[num_cols]
# chipo4 = chipo4 - chipo4.iloc[0]

# chipo.loc[:, num_cols] = chipo4.loc[:, num_cols]

id_orden es numérico
cantidad es numérico
precio_objeto es numérico

In [310]:
chipo

,id_orden,cantidad,nombre,descripcion,precio_objeto
0,0.0,0.0,Chips and Fresh Tomato Salsa,NaN,0.00
1,0.0,0.0,Izze,[Clementine],1.00
2,0.0,0.0,Nantucket Nectar,[Apple],1.00
3,0.0,0.0,Chips and Tomatillo-Green Chili Salsa,NaN,0.00
4,1.0,1.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",14.59
...,...,...,...,...,...
4617,1832.0,0.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",9.36
4618,1832.0,0.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",9.36
4619,1833.0,0.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.86
4620,1833.0,0.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",6.36
4621,1833.0,0.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",6.36

### 16. Repite lo mismo restándole la media

In [315]:
chipo5 = chipo.copy()[num_cols]
chipo5 = chipo5 - chipo5.mean()

for col in chipo.columns:
    if col in num_cols:
        chipo[col] = chipo5[col]
        
chipo

,id_orden,cantidad,nombre,descripcion,precio_objeto
0,-926.254868,-0.075725,Chips and Fresh Tomato Salsa,NaN,-5.074336
1,-926.254868,-0.075725,Izze,[Clementine],-4.074336
2,-926.254868,-0.075725,Nantucket Nectar,[Apple],-4.074336
3,-926.254868,-0.075725,Chips and Tomatillo-Green Chili Salsa,NaN,-5.074336
4,-925.254868,0.924275,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",9.515664
...,...,...,...,...,...
4617,905.745132,-0.075725,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",4.285664
4618,905.745132,-0.075725,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",4.285664
4619,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",3.785664
4620,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",1.285664
4621,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",1.285664

In [317]:
chipo3 = chipo.copy()
chipo3[num_cols] = chipo3[num_cols] - chipo3[num_cols].mean()
chipo3

,id_orden,cantidad,nombre,descripcion,precio_objeto
0,-926.254868,-0.075725,Chips and Fresh Tomato Salsa,NaN,-5.074336
1,-926.254868,-0.075725,Izze,[Clementine],-4.074336
2,-926.254868,-0.075725,Nantucket Nectar,[Apple],-4.074336
3,-926.254868,-0.075725,Chips and Tomatillo-Green Chili Salsa,NaN,-5.074336
4,-925.254868,0.924275,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",9.515664
...,...,...,...,...,...
4617,905.745132,-0.075725,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",4.285664
4618,905.745132,-0.075725,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",4.285664
4619,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",3.785664
4620,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",1.285664
4621,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",1.285664